*{
    padding: 0;
    margin: 0;
}
.barra {
    background-color: #6a0dad; 
    padding: 10px 20px;
    display: flex; 
    align-items: center; 
    gap: 20px; 
}
.account-link-custom {
    color: white !important;
    margin-left: auto; 
    font-size: 16px;
    font-weight: bold;
}
.search-pill-container {
    display: flex;
    align-items: center;
    flex-grow: 1; 
    border-radius: 40px; 
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    padding-right: 15px;
    height: 48px; 
}
.search-form-pill {
    flex-grow: 1;
    display: flex;
}
.menu-btn-pill {
    background-color: transparent; 
    border: none;
    padding: 0 10px; 
    height: 100%; 
    border-radius: 0; 
    
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-right: 5px; 
}
.menu-btn-pill img {
    width: 28px; 
    height: 28px;
    display: block;
}
.search-input-pill {
    border: none !important;
    background-color: transparent !important;
    height: 100%; 
    padding: 0; 
    font-size: 16px;
    color: #495057;
}
.search-input-pill:focus {
    box-shadow: none !important; 
    outline: none;
}
.offcanvas-body {
    background-color:#490b76c6 !important; 
}
.menu-list-custom .list-group-item {
    background-color: transparent !important; 
    border: none !important; 
    color: white !important;
    padding: 0;
}
.list-group-item.bg-dark {
    background-color: #34283aff !important; 
    border: none !important;
    padding: 8px 16px !important;
    margin-top: 10px;
    margin-bottom: 0 !important;
}
.menu-list-custom .list-group-item a {
    color: white !important;
    text-decoration: none !important;
    display: block; 
    padding: 8px 16px; 
}
.menu-list-custom .list-group-item:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    cursor: pointer;
}
.vender a{
    color: aliceblue;
    text-decoration: none;
}
.carrito a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.carrito{
    background-color: rgb(82, 11, 149);
    padding: 10px;
    border-radius: 10px;  
}
.producto-cabeza{
    background-color: #ffffff;
    width: 100%;
}
.formulario-form{
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}
.bodyproductos{
     background-image: url('img/peak_background\ \(1\).svg');
     background-size: cover;         
     background-repeat: no-repeat;    
     background-position: center center; 
     background-attachment: fixed;    
}
.modal-body p{
    text-align: justify;
}
.contenido{
    display: flex;
    padding: 30px; 
    justify-content: center;
    text-align: center;
    
}
.titulo{
    padding: 10px;
    margin-top: 30px;
}