body {
    font-family: sans-serif;
    font-size: 26px;
    background-color: rgb(68, 20, 112);
}

.barra-superior {
    color: rgb(0, 0, 0);
    background-color: white;
    align-items: center;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.icono-logo {
    width: 100px;
    height: auto;
}

.logo, .menu, .perfil {
    display: flex;
    align-items: center;
}

.perfil {
    width: 90px;
    gap: 5px;
}

.menu {
    align-items: center;
    justify-items: center;
    gap: 30px;
    padding: 20px 20px;
}

.busqueda {
     color: rgb(44, 0, 94);
    font-size: 26px;
}

.busqueda:focus {
    outline: rgb(255, 255, 255);
    outline-width: 25px;
}

.navegacion {
    color: darkgray;
    font-size: 26px;
}

.icono-perfil {
    width: 80px;
    height: auto;
}